spring:
  profiles:
    active: mysql-schema

  jpa:
    hibernate:
      ddl-auto: none

    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
      javax:
        persistence:
          schema-generation:
            scripts:
              action: create
              create-source: metadata
              create-target: ./mysql-schema.sql

  main:
    web-application-type: none
