spring:
  application:
    name: aws-member-manager

  cloud:
    aws:
      parameterstore:
        enabled: false

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
  info:
    env:
      enabled: true
    build:
      enabled : true

info:
  profiles: ${spring.profiles.active}

